---
import Layout from "../layouts/Layout.astro";
import { Chatbot } from "../components/react/chatbot";
---

<Layout title="Freestyle.sh Project">
  <main>
    <Chatbot client:load />
  </main>
</Layout>

<style>
  body {
    padding: 0;
    margin: 0;
    height: 100dvh;
  }

  main {
    height: calc(100% - 3rem);
  }
</style>
