---
import Layout from "../layouts/Layout.astro";
import { Chatbot } from "../components/react/chatbot";
---

<Layout title="Freestyle.sh Project">
  <main>
    <Chatbot client:load />
  </main>
</Layout>
